<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
<!--    <filter>-->
<!--        <filter-name>code</filter-name>-->
<!--        <filter-class>tools.Encoder</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>code</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
    <servlet>
        <servlet-name>ComServlet</servlet-name>
        <servlet-class>cont.ComServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        <multipart-config/>
        <!-- <multipart-config>
             &lt;!&ndash;fileSizeThreshold = 5_242_880, //5MB&ndash;&gt;
             <file-size-threshold>5242880</file-size-threshold>
             &lt;!&ndash;location告诉浏览器在哪里存储临时文件，可忽略，让应用服务器使用它默认临时目录即可&ndash;&gt;
             <location>url</location>
             &lt;!&ndash;maxFileSize设置上传文件的最大值，如下是上传文件不能超过20MB&ndash;&gt;
             <max-file-size>20971520</max-file-size>
             &lt;!&ndash;maxRequestSize设置请求的最大值，如下是一个请求不能超过40MB，文件数据不限&ndash;&gt;
             <max-request-size>41943040</max-request-size>
         </multipart-config> -->
    </servlet>

    <servlet-mapping>
        <servlet-name>ComServlet</servlet-name>
        <url-pattern>/com</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>servletConfigTestConfig</servlet-name>
        <servlet-class>cont.servletConfigTest</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>xhz</param-value>
        </init-param>
        <init-param>
            <param-name>address</param-name>
            <param-value>sanlin</param-value>
        </init-param>
        <init-param>
            <param-name>old</param-name>
            <param-value>22</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletConfigTestConfig</servlet-name>
        <url-pattern>/sct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>ServletConfigDemo</servlet-class>
        <init-param>
            <param-name>number</param-name>
            <param-value>111</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Config</servlet-name>
        <url-pattern>/depend</url-pattern>
    </servlet-mapping>
</web-app>